.tooltip-ibf > .tooltip-inner, .tooltip-arrow:before {
  background-color: $light-pink;
  color: $greyish-brown;

}

.bulk-tooltip > .tooltip-inner, .tooltip-arrow:before {
  background-color: #60C83B;
  color: $greyish-brown;
}