@import '../../../../Styles/variables';

.cart-item {
  background-color: $white;
  border: solid 1px $white;
  margin-bottom: 5px;
  position: relative;

  display: flex;
  &__image {
    width: 120px;
    min-height: 120px;
    border: 1px solid $white;
  }

  &__body {
    flex: 1;
    padding: 4px 38px 4px 12px;
  }

  &-title {
    font-size: 1rem;
    line-height: 1.42;
    margin: 0;
    color: #4a4a4a;
  }

  &-cancel {
    position: absolute;
    top: 1px;
    right: 12px;
    width: 24px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }

}
