.product-image {

  width: 120px;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  transition: all .25s linear;
  &.hover:hover {
    transform: scale(1.1);
  }

}

.product-more-image {
  background-image:url("/assets/images/more_photos.PNG");
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  bottom: 10px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5);
}


/* The ribbons */

.corner-ribbon{
  width: 150px;
  position: absolute;
  background: #e43;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* Custom styles */



.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  right: -51px;
  bottom: 15px;
}
